:root {
  --darkPurple: #75157c;
  --lightPurple: #cac3e0;
}

body {
  background-color: var(--lightPurple);
}

section {
  padding: 20px;
  background: white;
  border-radius: 10px;
  margin-bottom: 15px;
}


section:nth-child(1) {
  border-top: 7px solid var(--darkPurple);
  margin-top: 10px;
}

section:nth-child(2) input {
  width: 50%;
}

hr {
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  section:nth-child(2) input {
    width: 100%;
  }
}

#section5 .col-1 {
  text-align: right;
  padding-right: 0;
}

#section7 {
  background-color: #cac3e0;
}
#submit {
  background-color: rgb(136, 136, 209);
  margin-right: 350px;
  font-weight: bold;
}

#clear {
  border: 3px solid;
  color: #75157c;
  padding: 1px;
  margin-bottom: 15px;
}

#never {
  font-weight: normal;
  font-size: smaller;
  text-align: center;
}
#this {
  text-align: center;
  font-size: smaller;
}

#ooogle {
  text-align: center;
}
